<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Showing All New Requests</h4>
                        <p class="card-description"></p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Requested By</th>
                                        <th>Customer Email</th>
                                        <th>Requested On</th>
                                        <th>Product Category</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                
                                    <tr *ngFor="let req of newRequestsWithoutQuotationSent">
                                        <td>{{req.UserId.FirstName}}</td>
                                        <td>{{req.UserId.Email}}</td>
                                        <td>{{req.RequestDate}}</td>
                                        <td>{{req.Category}}</td>
                                        <td><label class="badge badge-warning">New</label></td>
                                       
                                        <td><button class="btn btn-primary" (click)="viewRequestDetails(req)">View Details</button></td>
                                    </tr>
                                </tbody>
    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-srequestdetails *ngIf="showRequestDetails" [request]="selectedRequest" (cancelButton)="cancelDetailView($event)"></app-srequestdetails>