<p>Hi {{customer.FirstName}}, showing Requests made by You !</p>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Requests Table</h4>
                        <p class="card-description"> Hi {{customer.FirstName}}, showing Requests made by You ! </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Request Id</th>
                                        <th>Product Category</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let req of allRequests">
                                        <td>{{req.RequestId}}</td>
                                        <td>{{req.Category}}</td>
                                        <td>{{req.RequestDate}}</td>
                                        <td><label class="{{getClass(req)}}">{{getStatus(req)}}</label></td>
                                        <td><button (click)="viewQuotations(req)">View Quotations</button></td>
                                    </tr>



<!--
                                    <tr>
                                        <td>Samso Park</td>
                                        <td>34424433</td>
                                        <td>12 May 2017</td>
                                        <td><label class="badge badge-danger">Pending</label></td>
                                    </tr>
                                    <tr>
                                        <td>Marlo Sanki</td>
                                        <td>53425532</td>
                                        <td>15 May 2015</td>
                                        <td><label class="badge badge-warning">In progress</label></td>
                                    </tr>
                                    <tr>
                                        <td>John ryte</td>
                                        <td>53275533</td>
                                        <td>14 May 2017</td>
                                        <td><label class="badge badge-info">Fixed</label></td>
                                    </tr>
                                    <tr>
                                        <td>Peter mark</td>
                                        <td>53275534</td>
                                        <td>16 May 2017</td>
                                        <td><label class="badge badge-success">Completed</label></td>
                                    </tr>
                                    <tr>
                                        <td>Dave</td>
                                        <td>53275535</td>
                                        <td>20 May 2017</td>
                                        <td><label class="badge badge-warning">In progress</label></td>
                                    </tr>
                -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<app-cviewquotation *ngIf="quotationViewFlag" [quotations]="allQuotations" [request]="selectedRequest" (selectedQuotation)="selectQuotation($event)"></app-cviewquotation>




<app-cquotationdetails *ngIf="quotationDetailFlag" [quotation]="selectedQuotation" ></app-cquotationdetails>